# Pandas Demo: Core Ideas, Not Syntax

This notebook demonstrates:
- Series vs DataFrame
- Indexing and alignment
- Inspecting and questioning data
- GroupBy and summarization
- Transformations and scaling
- Numericalization (one-hot encoding)

This is **not** an API tour.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = {
    "name": ["Hrach", "Ani", "Meri", "Hayk", "Arevik"],
    "city": ["Yerevan", "Yerevan", "Gyumri", "Gyumri", "Yerevan"],
    "age": [23, 29, 35, None, 41],
    "salary": [300_000, 450_000, None, 280_000, 500_000],
}

df = pd.DataFrame(data)
df

     name     city   age    salary
0   Hrach  Yerevan  23.0  300000.0
1     Ani  Yerevan  29.0  450000.0
2    Meri   Gyumri  35.0       NaN
3    Hayk   Gyumri   NaN  280000.0
4  Arevik  Yerevan  41.0  500000.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    5 non-null      object
 1   city    5 non-null      object
 2   age     4 non-null      float64
 3   salary  4 non-null      float64
dtypes: float64(2), object(2)
memory usage: 292.0+ bytes

In [ ]:
df.describe()

             age         salary
count   4.000000       4.000000
mean   32.000000  382500.000000
std     7.745967  109048.918686
min    23.000000  280000.000000
25%    27.500000  295000.000000
50%    32.000000  375000.000000
75%    36.500000  462500.000000
max    41.000000  500000.000000

In [ ]:
ages = df["age"]
type(ages)

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
ages.mean()

np.float64(32.0)

In [ ]:
# Indexing: Labels vs Positions

df.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
df.loc[0]

name         Hrach
city       Yerevan
age           23.0
salary    300000.0
Name: 0, dtype: object

In [ ]:
df.iloc[0]

name         Hrach
city       Yerevan
age           23.0
salary    300000.0
Name: 0, dtype: object

In [ ]:
df = df.set_index("name")
df

           city   age    salary
name
Hrach   Yerevan  23.0  300000.0
Ani     Yerevan  29.0  450000.0
Meri     Gyumri  35.0       NaN
Hayk     Gyumri   NaN  280000.0
Arevik  Yerevan  41.0  500000.0

In [ ]:
# alignment in action
salary = df["salary"]
age = df["age"]

salary / age

name
Hrach     13043.478261
Ani       15517.241379
Meri               NaN
Hayk               NaN
Arevik    12195.121951
dtype: float64

In [ ]:
df[["age", "salary"]] - df[["age", "salary"]].mean()

        age    salary
name
Hrach  -9.0  -82500.0
Ani    -3.0   67500.0
Meri    3.0       NaN
Hayk    NaN -102500.0
Arevik  9.0  117500.0

Using GroupBy is like asking a question

In [ ]:
df.groupby("city")["salary"].mean() # how much is the mean salary by city?

city
Gyumri     280000.000000
Yerevan    416666.666667
Name: salary, dtype: float64

In [ ]:
df.groupby("city").describe()

          age                                               salary  \
        count  mean       std   min   25%   50%   75%   max  count
city
Gyumri    1.0  35.0       NaN  35.0  35.0  35.0  35.0  35.0    1.0
Yerevan   3.0  31.0  9.165151  23.0  26.0  29.0  35.0  41.0    3.0

                                                                               \
                  mean            std       min       25%       50%       75%
city
Gyumri   280000.000000            NaN  280000.0  280000.0  280000.0  280000.0
Yerevan  416666.666667  104083.299973  300000.0  375000.0  450000.0  475000.0


              max
city
Gyumri   280000.0
Yerevan  500000.0

Creating Meaning With Transformations

In [ ]:
df["salary_k"] = df["salary"] / 1000
df

           city   age    salary  salary_k
name
Hrach   Yerevan  23.0  300000.0     300.0
Ani     Yerevan  29.0  450000.0     450.0
Meri     Gyumri  35.0       NaN       NaN
Hayk     Gyumri   NaN  280000.0     280.0
Arevik  Yerevan  41.0  500000.0     500.0

In [ ]:
df["age_group"] = pd.cut(df["age"], bins=[0, 30, 50], labels=["young", "mid"])
df

           city   age    salary  salary_k age_group
name
Hrach   Yerevan  23.0  300000.0     300.0     young
Ani     Yerevan  29.0  450000.0     450.0     young
Meri     Gyumri  35.0       NaN       NaN       mid
Hayk     Gyumri   NaN  280000.0     280.0       NaN
Arevik  Yerevan  41.0  500000.0     500.0       mid

In [ ]:
# scaling
salary_mean = df["salary"].mean()
salary_std = df["salary"].std()

df["salary_z"] = (df["salary"] - salary_mean) / salary_std
df[["salary", "salary_z"]]

          salary  salary_z
name
Hrach   300000.0 -0.756541
Ani     450000.0  0.618988
Meri         NaN       NaN
Hayk    280000.0 -0.939945
Arevik  500000.0  1.077498

In [ ]:
df[df['city'] == 'Yerevan']

           city   age    salary  salary_k age_group  salary_z
name
Hrach   Yerevan  23.0  300000.0     300.0     young -0.756541
Ani     Yerevan  29.0  450000.0     450.0     young  0.618988
Arevik  Yerevan  41.0  500000.0     500.0       mid  1.077498

In [ ]:
df[df['salary'] > 300000]

           city   age    salary  salary_k age_group  salary_z
name
Ani     Yerevan  29.0  450000.0     450.0     young  0.618988
Arevik  Yerevan  41.0  500000.0     500.0       mid  1.077498

Pandas allows numericalization

In [ ]:
df[["city", "age_group"]]

           city age_group
name
Hrach   Yerevan     young
Ani     Yerevan     young
Meri     Gyumri       mid
Hayk     Gyumri       NaN
Arevik  Yerevan       mid

In [ ]:
# one-hot encoding
pd.get_dummies(df[["city", "age_group"]])

        city_Gyumri  city_Yerevan  age_group_young  age_group_mid
name
Hrach         False          True             True          False
Ani           False          True             True          False
Meri           True         False            False           True
Hayk           True         False            False          False
Arevik        False          True            False           True

In [ ]:
encoded = pd.get_dummies(df[["city", "age_group"]])
df_model = pd.concat([df, encoded], axis=1)
df_model

,city,age,salary,salary_k,age_group,salary_z,city_Gyumri,city_Yerevan,age_group_young,age_group_mid
name,,,,,,,,,,
Hrach,Yerevan,23.0,300000.0,300.0,young,-0.756541,False,True,True,False
Ani,Yerevan,29.0,450000.0,450.0,young,0.618988,False,True,True,False
Meri,Gyumri,35.0,NaN,NaN,mid,NaN,True,False,False,True
Hayk,Gyumri,NaN,280000.0,280.0,NaN,-0.939945,True,False,False,False
Arevik,Yerevan,41.0,500000.0,500.0,mid,1.077498,False,True,False,True

Handling missing data

In [ ]:
df_model.isna().mean()

city               0.0
age                0.2
salary             0.2
salary_k           0.2
age_group          0.2
salary_z           0.2
city_Gyumri        0.0
city_Yerevan       0.0
age_group_young    0.0
age_group_mid      0.0
dtype: float64

In [ ]:
df_model_filled = df_model.copy()
df_model_filled["age"] = df_model_filled["age"].fillna(df_model_filled["age"].mean())
df_model_filled

,city,age,salary,salary_k,age_group,salary_z,city_Gyumri,city_Yerevan,age_group_young,age_group_mid
name,,,,,,,,,,
Hrach,Yerevan,23.0,300000.0,300.0,young,-0.756541,False,True,True,False
Ani,Yerevan,29.0,450000.0,450.0,young,0.618988,False,True,True,False
Meri,Gyumri,35.0,NaN,NaN,mid,NaN,True,False,False,True
Hayk,Gyumri,32.0,280000.0,280.0,NaN,-0.939945,True,False,False,False
Arevik,Yerevan,41.0,500000.0,500.0,mid,1.077498,False,True,False,True

In [ ]:
df_model_filled.describe()

             age         salary    salary_k  salary_z
count   5.000000       4.000000    4.000000  4.000000
mean   32.000000  382500.000000  382.500000  0.000000
std     6.708204  109048.918686  109.048919  1.000000
min    23.000000  280000.000000  280.000000 -0.939945
25%    29.000000  295000.000000  295.000000 -0.802392
50%    32.000000  375000.000000  375.000000 -0.068776
75%    35.000000  462500.000000  462.500000  0.733616
max    41.000000  500000.000000  500.000000  1.077498

## Takeaways

- Pandas works with **labeled data**
- Indexing and alignment drive behavior
- GroupBy is about questions, not syntax
- Transformations encode assumptions
- Numericalization is a design choice

Clean code  correct analysis.

## Extra Content

Perform exploratory data analysis on California Housing data.

In [ ]:
from sklearn.datasets import fetch_california_housing
import pandas as pd

data = fetch_california_housing(as_frame=True)
df = data.frame
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422