# EDA: Hands-on Lecture

Today we will be performing hands-on EDA on an actual dataset: a heart attack prediction dataset from https://www.kaggle.com/datasets/iamsouravbanerjee/heart-attack-prediction-dataset

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (0.4.1).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training?dataset_version_number=1...

100%|██████████| 111k/111k [00:00<00:00, 41.3MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/ahmedmohamed2003/cafe-sales-dirty-data-for-cleaning-training/versions/1

In [ ]:
os.listdir(path)

['dirty_cafe_sales.csv']

In [ ]:
cafe_df = pd.read_csv(os.path.join(path, "dirty_cafe_sales.csv"))

In [ ]:
cafe_df.head()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
0,TXN_1961373,Coffee,2,2.0,4.0,Credit Card,Takeaway,2023-09-08
1,TXN_4977031,Cake,4,3.0,12.0,Cash,In-store,2023-05-16
2,TXN_4271903,Cookie,4,1.0,ERROR,Credit Card,In-store,2023-07-19
3,TXN_7034554,Salad,2,5.0,10.0,UNKNOWN,UNKNOWN,2023-04-27
4,TXN_3160411,Coffee,2,2.0,4.0,Digital Wallet,In-store,2023-06-11

In [ ]:
set(cafe_df['Payment Method'])

{'Cash', 'Credit Card', 'Digital Wallet', nan}

In [ ]:
set(cafe_df['Location'])

{'In-store', 'Takeaway', nan}

In [ ]:
cafe_df.describe()

,Transaction ID,Item,Quantity,Price Per Unit,Total Spent,Payment Method,Location,Transaction Date
count,10000,9031,9521,9467,9498,6822,6039,9540
unique,10000,8,5,6,17,3,2,365
top,TXN_9226047,Juice,5,3.0,6.0,Digital Wallet,Takeaway,2023-06-16
freq,1,1171,2013,2429,979,2291,3022,40

In [ ]:
cafe_df = cafe_df.replace(to_replace='ERROR', value=np.nan)
cafe_df = cafe_df.replace(to_replace='UNKNOWN', value=np.nan)