In [3]:
import numpy as np
import pandas as pd

In [ ]:
class knn_classifier:
    def __init__(self, X_train, y_train):
        self.X_train = X_train
        self.y_train = y_train

    def fit_predict(self, X_test, k=1,  distance='hamming'):
        pred = []
        for i in range(len(X_test)):
            dists = self.compute_distance(X_test[i], distance)
            label = self.label_predict(dists, k)
            pred.append(label)
        return np.array(pred)
    
    def compute_distance(self, X_test, distance='hamming'):
        if distance == "euclidean":
            dists = np.sqrt(np.sum((self.X_train - X_test)**2, axis=1))

        elif distance == "hamming":
            dists = np.sum(self.X_train != X_test, axis=1)

        elif distance == "manhattan":
            dists = np.sum(np.abs(self.X_train - X_test), axis=1)

        else: 
            raise ValueError("Invalid distance metric") 
        
        return dists # dists is a numpy array (1D)
    
    def label_predict(self, dists, k=1):
        closest_idx = np.argsort(dists)[:k]
        closest_y = self.y_train[closest_idx]

        counts = {}
        for label in closest_y:
            counts[label] = counts.get(label,0)+1

        return max(counts, key=counts.get)

In [5]:
df = pd.read_csv("/home/blueberry/Picsart-Academy/ML/csv/teleCust1000t.csv")
df.head()

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3